# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
data/scrapes/BOOTSTRAP_SEARCH_1777599672299.json
data/scrapes/LARGE_SCALE_TEST_001_DISCOVERY_1777601747941.json
data/scrapes/LARGE_SCALE_TEST_001_DISCOVERY_1777601849015.json
